.addPost {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .addPost textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .addPost button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4267B2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  