.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4267B2;
    color: white;
    padding: 10px;
  }
  
  .header__left h2 {
    margin: 0;
  }
  
  .header__right p {
    margin: 0 15px;
    cursor: pointer;
  }
  